body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


strong {
    font-weight: bold;
}


time {
    font-size: 0.9em;
}

.justify-align {
  text-align: justify;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
}

p {
    font-size: 1.2em;
}