{% extends "layout.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} &bull; {{ article.title }}{% endblock %}

{% block head %}
{{ super() }}
{% if article.description %}
    <meta name="description" content="{{article.description}}">
{% endif %}

{% for tag in article.tags %}
    <meta name="tags" content="{{tag}}">
{% endfor %}

{% endblock %}

{% block content %}
<section id="content">
    <header>
        <h2>
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{
                article.title }}</a></h2>
        {% import 'translations.html' as translations with context %}
        {{ translations.translations_for(article) }}
    </header>
    <footer>
        <time datetime="{{ article.date.isoformat() }}">
            {{ article.locale_date }}
        </time>
        {% if article.modified %}
        <time datetime="{{ article.modified.isoformat() }}">
            {{ article.locale_modified }}
        </time>
        {% endif %}
        {% if article.authors %}
        <address>
            By {% for author in article.authors %}
            <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
            {% endfor %}
        </address>
        {% endif %}
        {% if article.category %}
        <div>
            Category: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
        </div>
        {% endif %}
        {% if article.tags %}
        <div class="tags">
            Tags:
            {% for tag in article.tags %}
            <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>,
            {% endfor %}
        </div>
        {% endif %}
    </footer><!-- /.post-info -->
    <div class="justify-align">
        {{ article.content }}
    </div><!-- /.entry-content -->
</section>
{% endblock %}