<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
{% macro render_menu() -%}
    {% for title, link in MENUITEMS %}
    <li><a href="{{ link }}">{{ title }}</a></li>
    {% endfor %}
    {% if DISPLAY_PAGES_ON_MENU -%}
        {% for pg in pages %}
        <li {% if pg==page %} class="active" {% endif %}><a href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a></li>
        {% endfor %}
    {% endif %}
    {% if output_file != 'index.html' %}
        {% if DISPLAY_CATEGORIES_ON_MENU -%}
            {% for cat, null in categories %}
            <li {% if cat==category %} class="active" {% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
            {% endfor %}
        {% endif %}
    {% endif %}
{%- endmacro %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
    {% block head %}{% endblock %}
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}"
        type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed">
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}"
        type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed">
    {% endif %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/fonts/material-icons.css">
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/materialize.min.css">
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}">

</head>

<body id="index">
    <header id="banner" class="">
        <nav class="nav-wrapper teal">
            <div class="container">
                <a href="{{ SITEURL }}/" class="brand-logo">{{ SITENAME }} {% if SITESUBTITLE %}<strong>{{ SITESUBTITLE }}</strong>{% endif %}</a>

                <a href="#" data-target="slide-out" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {{ render_menu() }}
                </ul>
            </div>
        </nav>
        <ul id="slide-out" class="sidenav">
            {{ render_menu() }}
        </ul>
    </header><!-- /#banner -->
    {% block layout %}{% endblock %}
    <footer id="contentinfo" class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <p>
                        <i class="material-icons tiny amber-text">code</i> with <i class="material-icons tiny red-text">favorite</i>
                         and proudly powered by <a class="cyan-text text-accent-1" href="http://getpelican.com/">Pelican</a>,
                         which takes great advantage of <a class="cyan-text text-accent-1" href="http://python.org">Python</a>.
                         <a href="https://gitlab.com/Oprax/pelican-materializecss-theme" class="cyan-text text-accent-1">Materialize</a> theme design by <a class="cyan-text text-accent-1" href="http://www.oprax.fr">Oprax</a>.
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Liens</h5>
                    <ul>
                        {% for name, link in LINKS %}
                        <li>
                            <a class="cyan-text text-accent-1" href="{{ link }}">{{ name }}</a>
                        </li>
                        {% endfor %}
                        {% for name, link in SOCIAL %}
                        <li>
                            <a class="cyan-text text-accent-1" href="{{ link }}">{{ name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                &copy; {{ COPYRIGHT or AUTHOR }}
            </div>
        </div>
    </footer><!-- /#contentinfo -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems, {});
        });
    </script>
</body>
</html>