{% extends "layout.html" %}
{% block content %}

<section id="content">
    {% block content_title %}
    <h2>Tous les articles</h2>
    {% endblock %}

    {% for article in articles_page.object_list %}
    <div class="row">
        <div class="col m12 l9">
            <div class="card">
                <div class="card-content">
                    <a class="card-title" href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                    <time class="published" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
                    {{ article.summary }}
                </div>
                <div class="card-action">
                    {% for author in article.authors %}
                    <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% if articles_page.has_other_pages() %}
    {% include 'inc/pagination.html' %}
    {% endif %}
</section><!-- /#content -->

{% endblock %}