{% extends "base.html" %}
{% block layout %}

    <div class="container">
        <div class="row">
            <div class="col m9 s12">
                {% block content %}{% endblock %}
            </div>
            <div class="col m3 s12">
                {% if LINKS %}
                    <div>
                        <h3>{{ LINKS_WIDGET_NAME | default('Lien utile') }}</h3>
                        <div class="collection">
                            {% for name, link in LINKS %}
                                <a class="collection-item" href="{{ link }}">{{ name }}</a>
                            {% endfor %}
                        </div>
                    </div><!-- /.blogroll -->
                {% endif %}
                {% if SOCIAL or FEED_ALL_ATOM or FEED_ALL_RSS %}
                    <div class="social">
                        <h3>{{ SOCIAL_WIDGET_NAME | default('Réseau sociaux') }}</h3>
                        <div class="collection">
                            {% if FEED_ALL_ATOM %}
                                <a href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}"
                                   type="application/atom+xml" rel="alternate" class="collection-item">
                                    <i class="tiny material-icons">rss_feed</i>atom feed
                                </a>
                            {% endif %}
                            {% if FEED_ALL_RSS %}
                                <a href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}"
                                   type="application/rss+xml" rel="alternate" class="collection-item">
                                    <i class="tiny material-icons">rss_feed</i>rss feed
                                </a>
                            {% endif %}

                            {% for name, link in SOCIAL %}
                                <a class="collection-item" href="{{ link }}">{{ name }}</a>
                            {% endfor %}
                        </div>
                    </div><!-- /.social -->
                {% endif %}
            </div>
        </div>
    </div>
{% endblock layout %}