{% extends "layout.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}
{% block title %}{{ SITENAME }} &bull; {{ page.title }}{% endblock %}
{% block content %}
    <section id="content">
        <h1 class="entry-title">{{ page.title }}</h1>
        {% import 'translations.html' as translations with context %}
        {{ translations.translations_for(page) }}
        {{ page.content }}
    </section>
{% endblock %}