{% set img_count = 0 %}
{% extends "base.html" %}
{% block title %}{{ SITENAME }} &bull; {{ page.title }}{% endblock %}
{% block layout %}
    <div class="section white">
        <div class="row container">
            {% for p in hidden_pages %}
            {% if p.slug == page.presentation %}
            <h2 class="header">{{ p.title }}</h2>
            <div class="grey-text text-darken-3 lighten-3">
                {{ p.content }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax">
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/{{ page.imgs[img_count] }}" data-from="https://images.nasa.gov/details-'Witch%20Head'%20Brews%20Baby%20Stars_10592267924_o.html">
        </div>{% set img_count = img_count+1 %}
    </div>
    <div class="section white">
        <div class="row container">
            {% for p in hidden_pages %}
                {% if p.slug == page.experiences %}
                    <h2 class="header">{{ p.title }}</h2>
                    <ul class="collection">
                        {% for job in p.jobs %}
                            {% for jpage in hidden_pages %}
                                {% if jpage.slug == job %}
                                <li class="collection-item avatar">
                                    <i class="material-icons circle {{ jpage.color }}">{{ jpage.icon }}</i>
                                    <span class="title">{{ jpage.title }}</span>
                                    {{ jpage.content }}
                                    <a href="{{ jpage.link }}" target="_blank" rel="noopener noreferrer" class="secondary-content"><i class="material-icons">launch</i></a>
                                </li>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax">
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/{{ page.imgs[img_count] }}" data-from="https://images.nasa.gov/details-PIA03606.html">
        </div>{% set img_count = img_count+1 %}
    </div>
    <div class="section white">
        <div class="row container">

            {% for p in hidden_pages %}
            {% if p.slug == page.tools %}
            {% set _tools_len = (12/(p.tools|length))|round|int %}
            <h2 class="header">{{ p.title }}</h2>
            <div class="row">
                {% for tool in p.tools %}
                    {% for tpage in hidden_pages %}
                        {% if tpage.slug == tool %}
                        <div class="col s12 m{{ _tools_len }}">
                            <h2 class="center {{ tpage.color }}">
                                <i class="medium material-icons">{{ tpage.icon }}</i>
                            </h2>
                            <h4 class="center">{{ tpage.title }}</h4>
                            <div class="justify-align">
                                {{ tpage.content }}
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}

            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax">
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/{{ page.imgs[img_count] }}" data-from="https://images.nasa.gov/details-GSFC_20171208_Archive_e002155.html">
        </div>{% set img_count = img_count+1 %}
    </div>
    <div class="section white">
        <div class="row container">
            <h2 class="header">Links</h2>
            <div class="grey-text text-darken-3 lighten-3">
                <div class="collection">
                    {% for name, link in SOCIAL %}
                    <a href="{{ link }}" class="collection-item">{{ name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.parallax');
            M.Parallax.init(elems, {});
        });
    </script>
{% endblock layout %}