<div class="row">
    <div class="col s12 m6">
        <div class="collection">
            {% for obj, articles in _object|sort %}
            <a class="collection-item" href="{{ SITEURL }}/{{ obj.url }}">
                <span class="badge">{{ articles|count }}</span>{{ obj }}
            </a>
            {% endfor %}
        </div>
    </div>
</div>