{% if DEFAULT_PAGINATION %}
<ul class="pagination">
    {% if articles_page.has_previous() %}
    <li class="waves-effect">
    {% else %}
    <li class="disabled">
    {% endif %}
        <a href="{{ SITEURL }}/{{ articles_previous_page.url }}">
            <i class="material-icons">chevron_left</i>
        </a>
    </li>
    {% for cpt in articles_paginator.page_range %}
        {% if cpt == articles_page.number %}
        <li class="active teal">
            <a href="{{ SITEURL }}/{{ page_name }}{{ cpt if cpt > 1 else '' }}.html">{{ cpt }}</a>
        </li>
        {% else %}
        <li class="waves-effect">
            <a href="{{ SITEURL }}/{{ page_name }}{{ cpt if cpt > 1 else '' }}.html">{{ cpt }}</a>
        </li>
        {% endif %}
    {% endfor %}
    {% if articles_page.has_next() %}
    <li class="waves-effect">
    {% else %}
    <li class="disabled">
    {% endif %}
        <a href="{{ SITEURL }}/{{ articles_next_page.url }}">
            <i class="material-icons">chevron_right</i>
        </a>
    </li>
</ul>
{% endif %}